*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: firebrick;
}
.heading_style{
  padding: 30px 0;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: black;
  background-color: orange;
  font-size: 1.5rem;
  margin-bottom: 30px;
  margin-top: 5%;
}
.cards{
  width: 100%;
  height: auto;
}
.card{
  margin: 6%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0 , 1);
  background-color: red;
  width: 21.25%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  float: left;
}
.card:hover{
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.658);
  transform: scale(1.05,1.05);
}
.card__img{
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12 px;
}
.card__info{
  background-color: grey;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 16px 24px 24px 24px;
  background-color: #fff;
}
.card_category{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
}
.card__tittle{
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #ffffff;
  text-transform: capitalize;
}
button{
  padding: 5px 8px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: black;
  background-color: #fff;
  outline: none;
  border: 1px solid red;
  margin-top: 2%;
}
nav{
  position: fixed;
  top: 0;
  left: 0 ;
  width: 100%;
  height: 100px;
  padding: 10px 90px;
  box-sizing: border-box;
  border-bottom: 1px solid #fff;
  background-color: firebrick;
}
nav .logo{
  padding: 22px 20px;
  height: 80px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
nav ul{
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li a{
  line-height: 80px;
  color: #fff;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
nav ul li a:hover{
  background: black;
  border-radius: 6px;
}
section{
   width: 100%;
   height: 100vh;
   position: center;

}